[submodule "config/.config/nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = config/.config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "config/.config/vim/dein/repos/github.com/Shougo/dein.vim"]
	path = config/.config/vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
